a {
  color: #6d523a;
  text-decoration: none;
}

strong {
  color: #b87f14;
}

em {
  color: #765833;
  font-style: italic;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .5rem 1rem;
  border: 2px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  color: #8F6F31;
  text-align: center;
}
