a {
  color: #6d523a;
  text-decoration: none;
}

strong {
  color: #b87f14;
}

em {
  color: #765833;
  font-style: italic;
}

/* Tables */
table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}
td,
th {
  padding: .5rem 1rem;
}
