/* fonts */
@font-face {
    font-family: 'ithorntregular';
    src: url('ithornet-webfont.woff2') format('woff2'),
         url('ithornet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'evanescentregular';
    src: url('evanescent-webfont.woff2') format('woff2'),
         url('evanescent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '1942report';
    src: url('1942-webfont.woff2') format('woff2'),
         url('1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heavitas';
    src: url('heavitas-webfont.woff2') format('woff2'),
         url('heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monolineregular';
    src: url('winter_prime_monoline-webfont.woff2') format('woff2'),
         url('winter_prime_monoline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* yessir */
.container {
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

.front {
    background-image: url('https://img.favpng.com/4/23/6/paper-notebook-leather-pencil-bookbinding-png-favpng-eW9JgGUU368icL0L4g0gbs5sd.jpg');
}
