.container {
  margin: auto;
    margin-top: 40px;
    width: 80%;
    background: linear-gradient(
      to right,
      #e7dbc8 0%,
      #e7dbc8 50%,
      #c9aa78 50%,
      #c9aa78 100%
    );
    border: 2px solid #c48d2e;
    box-shadow: 5px 10px 18px #000000;
}
