/* fonts */
@font-face {
    font-family: 'ithorntregular';
    src: url('ithornet-webfont.woff2') format('woff2'),
         url('ithornet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'evanescentregular';
    src: url('evanescent-webfont.woff2') format('woff2'),
         url('evanescent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '1942report';
    src: url('1942-webfont.woff2') format('woff2'),
         url('1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heavitas';
    src: url('heavitas-webfont.woff2') format('woff2'),
         url('heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monolineregular';
    src: url('winter_prime_monoline-webfont.woff2') format('woff2'),
         url('winter_prime_monoline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* yessir */
.container {
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

.front {
    height: 550px;
    background-image: url('https://i.ibb.co/6cMbFHgQ/favpng-75c2197ea1eaf25cfae4286da80f4de9.png" alt="favpng-75c2197ea1eaf25cfae4286da80f4de9');
    background-repeat: no-repeat;
    background-position: center;
}
.front2 {
    height: 216px;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/045/953/762/small/white-torn-paper-textured-piece-png.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 61%;
position: absolute;
margin-left: 26%;
margin-top: 2%;
width: 400px;
transform: rotate(7deg);
}
.journal-title {
    margin-top: 24%;
margin-left: 27%;
width: 46%;
text-align: center;
transform: rotate(-10deg);
}
.turn-page {
    background: white;
width: 9%;
height: 2.5%;
text-align: center;
position: absolute;
margin-top: 35.5%;
margin-left: 41%;
}
.btn {
    margin-top:0%;
}

.journal {
    background-image: url('https://i.ibb.co/M5SRfV8g/n-DVwg2-S-Photoroom.png');
background-position: center;
background-repeat: no-repeat;
height: 650px;
width: 900px;
background-size: 100%;
    z-index: 0;
}
.photo1 {
  position: absolute;
background-image: url('https://i.ibb.co/NgDGcmxL/IMG-1590.png');
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
height: 50%;
width: 20%;
top: 441px;
left: 345px;
    z-index: 10;
}

.photo2 {
  position: absolute;
background-image: url('https://i.ibb.co/gZmx9ZfD/IMG-1592.png');
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
height: 50%;
width: 20%;
top: 472px;
left: 425px;
    z-index: 9;
}
