.main-nav {
    width: 300px;
    margin-left: 130px;
}

.sidebarnav {
    width: 30%;
    margin-left: 65%;
    margin-top: -18%;
}

.button1 {
    height: 30px;
    margin-left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    background-color: #5e6545;
    border: none;
    color: white;
    cursor: pointer;
}
.button2 {
    height: 30px;
    margin-left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #5e6545;
    border: none;
    color: white;
    cursor: pointer;
}

.world1 {
    display: flex;
}
.world2 {
    display: flex;
}
