.divider-text, .divider-text2 {
    margin-bottom: -5px;
    font-family: "1942report", serif;
    font-weight: bold;
    font-size: 20px;
}
.buttonencasing {
    width: 70%;
    margin-left: -10px;
    margin-right: -6px;
}

.main-nav {
    width: 300px;
    margin-left: 130px;
}

.sidebarnav {
    width: 35%;
    margin-left: 64%;
    margin-top: -18%;
}
.sidebar {
    margin-top: 96px;
}

.button1 {
    height: 30px;
    margin-left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    background-color: #5e6545;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "heavitas", serif;
}
.button1:hover {
    background-color: #5E6545;
}
.button2 {
    height: 30px;
    margin-left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #5e6545;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "heavitas", serif;
}
.button2:hover {
    background-color: #5E6545;
}

.world1 {
    display: flex;
}
.world2 {
    display: flex;
}
.culture1 {
    display: flex;
}

.button3 {
    font-family: "heavitas", serif;
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #363237;
    padding: 10px;
    margin-top: 15px;
    font-family: "heavitas", serif;
}
.button3:hover {
    background-color: #5E6545;
}

.dropbtn {
    font-family: "heavitas", serif;
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #363237;
    padding: 10px;
    margin-top: 15px;
    font-family: "heavitas", serif;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #5E6545;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
    position: relative;
    left: 50%;
    width: fit-content;
    transform: translateX(-52%);
    background-color: #5E6545;
    margin-top: -0.8%;
    margin-left: 2.25%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    font-family: "heavitas", serif;
    font-size: 13px;
    padding: 1px 15px 1px 15px;
}
.dropdown-content a {
  color: #b6c7c4;
    padding: 3px 1px;
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}
