<div class="sidebar">
    <div class="world1">
        <div class="buttonencasing">
            <a href="/golden-fate/pages/theartist.html">
                <button class="button3">About the Artist</button>
            </a>
        </div>
    
        <div class="buttonencasing">
            <a href="/golden-fate/pages/gallery.html">
            <button class="button3">Gallery</button>
            </a>
        </div>
    
        <div class="buttonencasing">
            <a href="/golden-fate/pages/tandc.html">
                <button class="button3">Terms and Conditions</button>
            </a>
        </div>
    </div>
    <div class="world2">
        <div class="buttonencasing">
            <a href="/golden-fate/pages/prices.html">
                <button class="button3">Services & Prices</button>
            </a>
        </div>
    
        <div class="buttonencasing">
            <a href="/golden-fate/pages/contacts.html">
                <button class="button3">Contacting Me</button>
            </a>
        </div>
    </div>
</div>
