<!DOCTYPE html>
<html lang="en-us" style="background-color: #2e3229;">
  <head>
    <meta property="og:title"/> 
    <meta property="og:description"/>
    <meta property="og:image"/> 
    <meta property="og:url"/> 
    <link rel="icon" type="image/png" href="/kanae-ebisawa/images/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/kanae-ebisawa/images/favicon.ico" />
  </head>
  <body>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/kanae-ebisawa/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="/kanae-ebisawa/public/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/kanae-ebisawa/public/css/content.css">
  <link rel="stylesheet" type="text/css" href="/kanae-ebisawa/public/css/accent.css">
  <link rel="stylesheet" type="text/css" href="/kanae-ebisawa/public/css/fonts.css">
  <script src="https://kit.fontawesome.com/817e1346ee.js" crossorigin="anonymous"></script>

  <div class="container">
    <div class="titlecard">
      {{ content }}
  </div>
  </div>
  </body>
</html>
