<!DOCTYPE html>
<html lang="en-us" style="background-color: #2e3229;">
  <head>
    <meta property="og:title"/> 
    <meta property="og:description"/>
    <meta property="og:image"/> 
    <meta property="og:url"/> 
    <link rel="icon" type="image/png" href="/golden-fate/images/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/golden-fate/images/favicon.ico" />
  </head>
  <body>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/golden-fate/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="/golden-fate/public/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/golden-fate/public/css/content.css">
  <link rel="stylesheet" type="text/css" href="/golden-fate/public/css/accent.css">
  <link rel="stylesheet" type="text/css" href="/golden-fate/public/css/fonts.css">
  <script src="https://kit.fontawesome.com/817e1346ee.js" crossorigin="anonymous"></script>

  <div class="container">
    <div class="titlecard">
    <p class="titlecard-title">
      Golden Fate Wiki
    </p>
    <p class="titlecard-hookline">
      <i>A myth can be rewritten.</i>
      <br>
      <i>A whisper, a reality - fate may be persuaded.</i>
    </p>
      <div class="main-nav">
        <a href="/golden-fate/index.html">
          <button class="button1">What is this Project?</button>
        </a>
        <a href="/golden-fate/credits.html">
          <button class="button2">Contributors</button>
        </a>
      </div>
    <img src="https://i.ibb.co/JH4cRFJ/image-2024-12-24-194552994-removebg-preview.png" style="margin-left: -200px; margin-top: -430px; position: absolute;">
      <div class="sidebarnav">
        {% include sidebar.html %}
      </div>
  </div>
  </div>
  </body>
</html>
